/* CSS declarations go here */
@keyframes watingMove {
  0% {
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0);
  }
  50% {
    -ms-transform: scale(1.5,1.5); /* IE 9 */
    -webkit-transform: scale(1.5,1.5); /* Safari */
    transform: scale(1.5,1.5);
  }
  75% {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
  }
  100% {
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0);
  }
}
html, body{
  height: 100%;
}
h1 {
  font-size: 100px;
}
.margin-auto{
  margin: 0 auto;
}
.mid-button{
  text-align: center;
}
.wait{
  height: 70%;
}
.wait-ready-button {
  display:none;
}
.wait>h3{
  width: 100%;
  text-align: center;
  animation-name: watingMove;
  animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
