<template name="board1">
  <div class="row center-align setup-board">
    <div class="col s12 offset-s2">
      <div class="row margin-auto">
        <div class="col s1 panel" id='00'></div>
        <div class="col s1 panel" id='01'></div>
        <div class="col s1 panel" id='02'></div>
        <div class="col s1 panel" id='03'></div>
        <div class="col s1 panel" id='04'></div>
        <div class="col s1 panel" id='05'></div>
        <div class="col s1 panel" id='06'></div>
        <div class="col s1 panel" id='07'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel" id='10'></div>
        <div class="col s1 panel" id='11'></div>
        <div class="col s1 panel" id='12'></div>
        <div class="col s1 panel" id='13'></div>
        <div class="col s1 panel" id='14'></div>
        <div class="col s1 panel" id='15'></div>
        <div class="col s1 panel" id='16'></div>
        <div class="col s1 panel" id='17'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel" id='20'></div>
        <div class="col s1 panel" id='21'></div>
        <div class="col s1 panel" id='22'></div>
        <div class="col s1 panel" id='23'></div>
        <div class="col s1 panel" id='24'></div>
        <div class="col s1 panel" id='25'></div>
        <div class="col s1 panel" id='26'></div>
        <div class="col s1 panel" id='27'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel" id='30'></div>
        <div class="col s1 panel" id='31'></div>
        <div class="col s1 panel" id='32'></div>
        <div class="col s1 panel" id='33'></div>
        <div class="col s1 panel" id='34'></div>
        <div class="col s1 panel" id='35'></div>
        <div class="col s1 panel" id='36'></div>
        <div class="col s1 panel" id='37'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel" id='40'></div>
        <div class="col s1 panel" id='41'></div>
        <div class="col s1 panel" id='42'></div>
        <div class="col s1 panel" id='43'></div>
        <div class="col s1 panel" id='44'></div>
        <div class="col s1 panel" id='45'></div>
        <div class="col s1 panel" id='46'></div>
        <div class="col s1 panel" id='47'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel" id='50'></div>
        <div class="col s1 panel" id='51'></div>
        <div class="col s1 panel" id='52'></div>
        <div class="col s1 panel" id='53'></div>
        <div class="col s1 panel" id='54'></div>
        <div class="col s1 panel" id='55'></div>
        <div class="col s1 panel" id='56'></div>
        <div class="col s1 panel" id='57'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel" id='60'></div>
        <div class="col s1 panel" id='61'></div>
        <div class="col s1 panel" id='62'></div>
        <div class="col s1 panel" id='63'></div>
        <div class="col s1 panel" id='64'></div>
        <div class="col s1 panel" id='65'></div>
        <div class="col s1 panel" id='66'></div>
        <div class="col s1 panel" id='67'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel" id='70'></div>
        <div class="col s1 panel" id='71'></div>
        <div class="col s1 panel" id='72'></div>
        <div class="col s1 panel" id='73'></div>
        <div class="col s1 panel" id='74'></div>
        <div class="col s1 panel" id='75'></div>
        <div class="col s1 panel" id='76'></div>
        <div class="col s1 panel" id='77'></div>
      </div>
    </div>
  </div>
</template>
<template name="board2">
  <div class="row center-align setup-board">
    <div class="col s12 offset-s2">
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s00'></div>
        <div class="col s1 panel2" id='s01'></div>
        <div class="col s1 panel2" id='s02'></div>
        <div class="col s1 panel2" id='s03'></div>
        <div class="col s1 panel2" id='s04'></div>
        <div class="col s1 panel2" id='s05'></div>
        <div class="col s1 panel2" id='s06'></div>
        <div class="col s1 panel2" id='s07'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s10'></div>
        <div class="col s1 panel2" id='s11'></div>
        <div class="col s1 panel2" id='s12'></div>
        <div class="col s1 panel2" id='s13'></div>
        <div class="col s1 panel2" id='s14'></div>
        <div class="col s1 panel2" id='s15'></div>
        <div class="col s1 panel2" id='s16'></div>
        <div class="col s1 panel2" id='s17'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s20'></div>
        <div class="col s1 panel2" id='s21'></div>
        <div class="col s1 panel2" id='s22'></div>
        <div class="col s1 panel2" id='s23'></div>
        <div class="col s1 panel2" id='s24'></div>
        <div class="col s1 panel2" id='s25'></div>
        <div class="col s1 panel2" id='s26'></div>
        <div class="col s1 panel2" id='s27'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s30'></div>
        <div class="col s1 panel2" id='s31'></div>
        <div class="col s1 panel2" id='s32'></div>
        <div class="col s1 panel2" id='s33'></div>
        <div class="col s1 panel2" id='s34'></div>
        <div class="col s1 panel2" id='s35'></div>
        <div class="col s1 panel2" id='s36'></div>
        <div class="col s1 panel2" id='s37'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s40'></div>
        <div class="col s1 panel2" id='s41'></div>
        <div class="col s1 panel2" id='s42'></div>
        <div class="col s1 panel2" id='s43'></div>
        <div class="col s1 panel2" id='s44'></div>
        <div class="col s1 panel2" id='s45'></div>
        <div class="col s1 panel2" id='s46'></div>
        <div class="col s1 panel2" id='s47'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s50'></div>
        <div class="col s1 panel2" id='s51'></div>
        <div class="col s1 panel2" id='s52'></div>
        <div class="col s1 panel2" id='s53'></div>
        <div class="col s1 panel2" id='s54'></div>
        <div class="col s1 panel2" id='s55'></div>
        <div class="col s1 panel2" id='s56'></div>
        <div class="col s1 panel2" id='s57'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s60'></div>
        <div class="col s1 panel2" id='s61'></div>
        <div class="col s1 panel2" id='s62'></div>
        <div class="col s1 panel2" id='s63'></div>
        <div class="col s1 panel2" id='s64'></div>
        <div class="col s1 panel2" id='s65'></div>
        <div class="col s1 panel2" id='s66'></div>
        <div class="col s1 panel2" id='s67'></div>
      </div>
      <div class="row margin-auto">
        <div class="col s1 panel2" id='s70'></div>
        <div class="col s1 panel2" id='s71'></div>
        <div class="col s1 panel2" id='s72'></div>
        <div class="col s1 panel2" id='s73'></div>
        <div class="col s1 panel2" id='s74'></div>
        <div class="col s1 panel2" id='s75'></div>
        <div class="col s1 panel2" id='s76'></div>
        <div class="col s1 panel2" id='s77'></div>
      </div>
    </div>
  </div>
</template>
