<template name="game">
  <div class="container center align">
    <h3 class="margin-bottom">Commence Battle!</h3>
    <h4 id="startFirst"></h4>
    <div>
      <h6 id="notice"></h6>
      <h6 id="alert"></h6>
      <button class="reset btn waves-effect waves-light">Reset Game</button>
      <button class="continue btn waves-effect waves-light">Continue</button>
      <button class="end btn waves-effect waves-light">End Game</button>
    </div>

    <h4 id="score"></h4>
    <h4 id='timer' class="margin-bottom">Time: 10</h4>
    <h5 class="margin-bottom" id="oppName">Opp Ship</h5>
    {{> board2}}
    <h5 class="margin-bottom" id="playerName">Your Ship</h5>
    {{> board1}}
  </div>
</template>
