<template name="gamesetup">
  <div class="container center align">
    <h3>Setup your battleships</h3>
    <div class="row center-align setup-board">
      <div class="col s12 offset-s2">
        <div class="row center-align margin-top r1">
          <div class="col s1 panel" id='00'>0</div>
          <div class="col s1 panel" id='01'>0</div>
          <div class="col s1 panel" id='02'>0</div>
          <div class="col s1 panel" id='03'>0</div>
          <div class="col s1 panel" id='04'>0</div>
          <div class="col s1 panel" id='05'>0</div>
          <div class="col s1 panel" id='06'>0</div>
          <div class="col s1 panel" id='07'>0</div>
        </div>
        <div class="row center-align margin-top r2">
          <div class="col s1 panel" id='10'>0</div>
          <div class="col s1 panel" id='11'>0</div>
          <div class="col s1 panel" id='12'>0</div>
          <div class="col s1 panel" id='13'>0</div>
          <div class="col s1 panel" id='14'>0</div>
          <div class="col s1 panel" id='15'>0</div>
          <div class="col s1 panel" id='16'>0</div>
          <div class="col s1 panel" id='17'>0</div>
        </div>
        <div class="row center-align margin-top r3">
          <div class="col s1 panel" id='20'>0</div>
          <div class="col s1 panel" id='21'>0</div>
          <div class="col s1 panel" id='22'>0</div>
          <div class="col s1 panel" id='23'>0</div>
          <div class="col s1 panel" id='24'>0</div>
          <div class="col s1 panel" id='25'>0</div>
          <div class="col s1 panel" id='26'>0</div>
          <div class="col s1 panel" id='27'>0</div>
        </div>
        <div class="row center-align margin-top r4">
          <div class="col s1 panel" id='30'>0</div>
          <div class="col s1 panel" id='31'>0</div>
          <div class="col s1 panel" id='32'>0</div>
          <div class="col s1 panel" id='33'>0</div>
          <div class="col s1 panel" id='34'>0</div>
          <div class="col s1 panel" id='35'>0</div>
          <div class="col s1 panel" id='36'>0</div>
          <div class="col s1 panel" id='37'>0</div>
        </div>
        <div class="row center-align margin-top r5">
          <div class="col s1 panel" id='40'>0</div>
          <div class="col s1 panel" id='41'>0</div>
          <div class="col s1 panel" id='42'>0</div>
          <div class="col s1 panel" id='43'>0</div>
          <div class="col s1 panel" id='44'>0</div>
          <div class="col s1 panel" id='45'>0</div>
          <div class="col s1 panel" id='46'>0</div>
          <div class="col s1 panel" id='47'>0</div>
        </div>
        <div class="row center-align margin-top r6">
          <div class="col s1 panel" id='50'>0</div>
          <div class="col s1 panel" id='51'>0</div>
          <div class="col s1 panel" id='52'>0</div>
          <div class="col s1 panel" id='53'>0</div>
          <div class="col s1 panel" id='54'>0</div>
          <div class="col s1 panel" id='55'>0</div>
          <div class="col s1 panel" id='56'>0</div>
          <div class="col s1 panel" id='57'>0</div>
        </div>
        <div class="row center-align margin-top r7">
          <div class="col s1 panel" id='60'>0</div>
          <div class="col s1 panel" id='61'>0</div>
          <div class="col s1 panel" id='62'>0</div>
          <div class="col s1 panel" id='63'>0</div>
          <div class="col s1 panel" id='64'>0</div>
          <div class="col s1 panel" id='65'>0</div>
          <div class="col s1 panel" id='66'>0</div>
          <div class="col s1 panel" id='67'>0</div>
        </div>
        <div class="row center-align margin-top r8">
          <div class="col s1 panel" id='70'>0</div>
          <div class="col s1 panel" id='71'>0</div>
          <div class="col s1 panel" id='72'>0</div>
          <div class="col s1 panel" id='73'>0</div>
          <div class="col s1 panel" id='74'>0</div>
          <div class="col s1 panel" id='75'>0</div>
          <div class="col s1 panel" id='76'>0</div>
          <div class="col s1 panel" id='77'>0</div>
        </div>
      </div>
    </div>
    <button class="setboard btn waves-effect waves-light">Get into the game!</button>
  </div>
</template>
