<template name="home">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>Battleship Game</h1>
      <form class="ip-form">
        <label for="ip">Enter your name</label>
        <input type="text" name="user" placeholder="" autocomplete="off" autofocus/>
        <div class="col s12 right mid-button">
          <button type="submit" name="action" class="right btn waves-effect waves-light">
            Enter the game<i class="mdi mdi-send right"></i>
          </button>
        </div>
      </form>
  </div>
</div>
</template>
